h1 {
    font-size: 2em;
    color: #e4ecfe;
    text-align: center;
    margin: 20px 0;
    position: absolute;
    top: 60px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    z-index: 20;
    text-shadow: 1px, 1px, #e0caff;
}