* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.carousel {
    position: relative;
  }
    
.carousel__container {
    position:relative;
    width: 100%;
    margin: auto;
    overflow: hidden;
}


.item {
    position: relative;
    width: 100%;
    margin: auto;
    overflow: hidden;
}

.item__image {
    margin: 0;
    text-align: center;
}

.item.active {
    display:flex;
}

.item.active.next {
    transform: translateX(100%);
}
  

.item__image {
width: auto;
max-width: 100%;
height: auto;
display: flex;
margin: 0 auto;
}
  
  
 