.button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
    width: 2rem;
    height: 2rem;
    font-size: 32px;
    background-color: transparent;
    color: rgba(255, 255, 255, 0.28);
    border: none;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s;

    &:hover {
        font-size: 40px;
    }
}
.previous {
    left: 0px;
}
.next {
    right: 0px;
}