body {
  margin: 0;
  padding: 0px;
  background: linear-gradient(195deg,
  #b2b2d4 0%,      
  #4b4b84 15%,     
  #1a1a40 40%,     
  #0d0d26 70%,     
  #000010 100% 
       );
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.Carousel {
  width: 800px;
  height: 400px;
  overflow: hidden;
  position: relative;
  margin: 0 auto;
  border-radius: 10px;
  background: transparent;
  box-shadow: 
  0 0 30px rgba(216, 216, 255, 0.1),
  0 0 60px rgba(74, 20, 140, 0.1), 
  inset 0 0 20px rgba(255, 255, 255, 0.05);
  border: none

}

.CarouselContainer {
  display: flex;
  width: 100%;

}

.CarouselSlide {
  min-width: 100%;
  box-sizing: border-box;
 
  
}


