.Carousel {
  width: 500px;
  overflow: hidden;
  position: relative;
}

.CarouselContainer {
  display: flex;
  transition: transform 0.5s ease-in-out;
  width: 100%;
}

.CarouselSlide {
  min-width: 100%;
  box-sizing: border-box;
}


